.slider-widget {
    width: 80%;
    margin: auto;
}

.slider-widget .widget {
    width: 100%;
    height: 2px;
}

.slider-widget .ticks {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.slider-widget .ticks .tick {
    height: 10px;
    width: 1px;
    background: black;
    display: flex;
    justify-content: center;
    line-height: 40px;
}

.slider-widget.no-value .slider .slider-handle {
    display: none;
}

.slider-widget input[type='range'] {
    display: none;
}

.slider {
    width: 100% !important;
}

.slider-description {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.slider-description .min-label,
.slider-description .max-label
{
    text-align: center;
}

.slider-description .first {
    position: relative;
    transform: translateX(-50%);
}

.slider-description .last {
    position: relative;
    transform: translateX(50%);
}
