{
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "plugins": [
    "react", "jest"
  ],
  "rules": {
    "no-undef": [ 1 ]
  },
  "env": {
    "browser": true,
    "jest/globals": true,
    "es6": true
  }
}
