#signup-Form {
  width: 100%;
}

.change-pass > div{
  display: flex;
}
.change-pass > div label{
  width: 320px;
}
.demo{
  display: flex;
  align-items: flex-start;
}
.error-alert{
  width: 77%;
  margin-left: auto;
}