.ds-card {
  width: 15rem;
  border: 0;
}

.ds-card-title {
  display: flex;
  justify-content: center;
}

.ds-applet-layout {
  margin-top: 50px;
}

.ds-about-button {
  margin-top: 20px;
  color: darkslategray;
}

.ds-activity-button {
  border: none;
}

.ds-activity-status {
  margin-top: 10px;
}

.ds-shadow {
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}