.heading h1 {
  font-size: 2.5rem;
  font-weight: 500;
  color: #212529;
}
.heading {
  font-size: 1rem;
  color: #212529;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading a {
  color: #005fa3;
}
.invitationBody.alreadyAccepted {
  font-size: 25px;
  text-align: center;
  margin-top: 20px;
}
.invitationBody {
  text-align: left;
  font-size: 16px;
  color: #2c3e50;
}
.invitationBody h3{
  font-size: 16px;
  font-weight: 400;
}
.invitationMessage {
  font-size: 25px;
  text-align: center;
  margin-top: 20px;
}

@media only screen and (min-width: 768px) {
  .invitation-button {
    padding: 0.5rem 1rem !important;
    font-size: 1.25rem !important;
  }
}
