@font-face {
  font-family: 'ibm_plex_sansregular';
  src: url('./assets/fonts/ibmplexsans-regular-webfont.eot');
  src: url('./assets/fonts/ibmplexsans-regular-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('./assets/fonts/ibmplexsans-regular-webfont.woff2') format('woff2'),
    url('./assets/fonts/ibmplexsans-regular-webfont.woff') format('woff'),
    url('./assets/fonts/ibmplexsans-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  font-family: 'ibm_plex_sansregular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer {
  flex-shrink: 0;
}

.footer-logo {
  background: #005fa3;
  border-style: solid;
  border-radius: 25px;
  border-width: 0px;
  padding: 10px;
  height: 40px;
  width: 40px;
}
.logo {
  padding: 5px;
  height: 50px;
  width: 120px;
}
.avatar{
  display: inline-block;
  background: #777;
  border-style: solid;
  border-radius: 50%;
  border-width: 0px;
  padding: 10px;
  height: 80px;
  width : 80px;
  margin-right: 15px;
}

.app-container {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  top: 0px;
  height: 100%;
  max-height: 100%;
  overflow: auto;
}

.main-container {
  background-image: url('https://images.unsplash.com/photo-1517483000871-1dbf64a6e1c6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80');
  background-size: cover;
  flex-grow: 1;
  position: relative;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-height: 500px) {
  #root {
    height: unset;
  }

  .app-container {
    max-height: unset;
    position: relative;
  }
}

.dropdown-menu{
  right: 0px;
  left: unset;
}

.question {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px 10px;
}

.splash-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 90%;
  margin: auto;
}

.image-splash {
  background-color: black;
}

.question .markdown img {
  width: 250px;
  display: block;
  margin: auto;
}

.form-check input {
  margin-top: 6px;
}
.form-check label {
  font-size: 16px;
}

@media only screen and (max-width: 767px) {
  .form-check input {
    margin-top: 7px;
  }

  .form-check label {
    font-size: 18px;
  }
}

.tooltip-icon {
  color: gray;
  padding: 2px;
  width: 20px !important;
  height: 20px;
}

.form-check-width {
  max-width: calc(100% - 60px);
}


.option-tooltip {
  width: 20px;
}

.option-tooltip, .tooltip-icon {
  margin-right: 5px;
  margin-top: 2px;
}

.option-image {
  height: 25px;
  width: 25px;
  margin-right: 10px;
}

.watermark {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50px;
}

.response-option {
  display: flex;
  align-items: flex-start;
  margin: 10px 0px;
  border-radius: 5px;
  padding: 7px 5px;
}

.response-option:first-child {
  margin-top: 0px;
}

.float-right {
  float: right;
}

.hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.text-center {
  text-align: center;
}

.invalid {
  border: 2px solid red;
}

.applet-header {
  padding-top: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.applet-header .applet-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.applet-header .applet-image * {
  position: relative;
  object-fit: cover;
  min-height: 100%;
  min-width: 100%;
  top: 50%;
  transform: translateY(-50%);
}
