.ds-card {
  width: 15rem;
  border: 0 !important;
  margin: auto;
}

.ds-card-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ds-applet-layout {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.ds-about-button {
  margin-top: .5rem;
  color: darkslategray;
}

.ds-activity-button {
  background: white !important;
  border: none;
  display: flex !important;
  margin: 0.5rem 0em;
}

.ds-activity-button .activity-image {
  align-self: center;
  min-width: 64px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.ds-activity-button .activity-data {
  flex-grow: 1;
  margin: 10px 0px;
}

.ds-activity-button .activity-name-date {
  font-weight: 500;
  font-size: 22px;
}

.ds-activity-button .activity-description {
  font-weight: 500;
  font-size: 16px;
  margin-top: 5px;
  color: grey;
}

.ds-activity-status {
  margin-top: 1rem;
  text-transform: capitalize;
}

.ds-shadow {
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}
